<div class="row">

  <div class="col-md-4">
    <h3>Seleccione archivos</h3>
    <div class="well drop-zone"
      appNgDropFiles
      [ngClass]="{'file-over': isOnAnElement}"
      (mouseOver)=processMouseOver($event)
      [files]="files">
      <h4>Deje caer aquí los archivos</h4>
      <img src="assets/img/drop-images.png" alt="">
    </div>
  </div>

  <div class="col-md-8">
    <h4>Cargar archivos</h4>

    <button class="btn btn-success"
      (click)="loadImages()"
      [disabled]="files.length === 0">
      Cargar a Firebase
    </button>
    <button class="btn btn-danger"
      (click)="clearFiles()">
      Limpiar
    </button>

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>Nombre archivo</th>
          <th>Tamaño</th>
          <th>Progreso</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files">
          <td>{{ file.fileName }}</td>
          <td>{{ file.file.size / 1024 / 1024 | number:'.2-2' }} MB</td>
          <td>
            <div class="progress">
              <div class="progress-bar"
                role="progressbar"
                [ngStyle]="{'width': file.progress + '%'}"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100">
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
